@keyframes disparition {
    to{
        opacity: 0;
        z-index: -1;
            
    }
    from{
        opacity: 1;
        z-index: 1000;
    }
}
@keyframes loading {
    to{
        width: 100%;
    }
    from{
        width: 0;
    }
}
@keyframes circle {
    0%{
        transform: rotate(0)scale(0);
    }
    50%{
        transform: rotate(180deg)scale(1.5);
    }
    100%{
        transform: rotate(1turn)scale(0);
    }
}
/******* Animation du check sur les bouttons */

@keyframes rotate {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
 }
 /******* Animation de l'apparition des menu */

 @keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }
        
}
