html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Pou faire disparaitre la div container ( animations loader ) */
@-webkit-keyframes disparition {
  to {
    opacity: 0;
    z-index: -10000;
  }
  from {
    opacity: 1;
    z-index: 1000;
  }
}
@keyframes disparition {
  to {
    opacity: 0;
    z-index: -10000;
  }
  from {
    opacity: 1;
    z-index: 1000;
  }
}

/* Animation barre de chargement */
@-webkit-keyframes loading {
  to {
    width: 100%;
  }
  from {
    width: 0;
  }
}
@keyframes loading {
  to {
    width: 100%;
  }
  from {
    width: 0;
  }
}

/* aniation pour faire un cercle qui tourne et grpssis */
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
            transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(1turn) scale(0);
            transform: rotate(1turn) scale(0);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
            transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(1turn) scale(0);
            transform: rotate(1turn) scale(0);
  }
}

/******* Animation du check sur les bouttons */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/******* Animation de l'apparition des menu */
@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/******* LOADING*******/
.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: fixed;
  background: #000000c9;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10000;
  -webkit-animation: 1s 2.8s 1 both disparition;
          animation: 1s 2.8s 1 both disparition;
}

.progress {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9aed8), to(#ae83e2));
  background: linear-gradient(180deg, #e9aed8, #ae83e2);
  width: 200px;
  height: 20px;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 10px;
  -webkit-animation: loading 3s 1 both;
          animation: loading 3s 1 both;
}

.container_progress {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: x-large;
  color: white;
}

body {
  background-color: #e6e6e6;
  font-family: 'Roboto';
}

body a {
  text-decoration: none;
  color: black;
}

/******************************/
/*  Header    */
/******************************/
header {
  background-color: white;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header i {
  margin-left: 30px;
  margin-right: 20px;
  color: black;
}

.logo {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 100px;
  border-radius: 0;
}

.img_restaurant {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/******************************/
/*  section     */
/******************************/
h1 {
  font-family: 'Shrikhand';
  font-size: x-large;
  padding-left: 20px;
  padding-top: 30px;
  margin-top: -50px;
  margin-bottom: 20px;
  z-index: 1;
  border-radius: 45px 45px 0 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Sert a ce qu'il n'y a pas de debordement, et evite que la width sajoute au padding*/
  background-color: #e6e6e6;
  position: relative;
}

h1 i {
  font-size: x-large;
  margin-left: 15px;
  position: absolute;
}

.coeur_plein {
  opacity: 0;
  color: #9356DC;
  -webkit-transition: 1s;
  transition: 1s;
}

.coeur_vide {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.favoris:hover .coeur_plein {
  opacity: 1;
}

.favoris:hover .coeur_vide {
  opacity: 0;
}

.vignette {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  padding: 0;
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.vignette:hover .icone_check {
  width: 65px;
  -webkit-animation: 1s 0.5s both rotate;
          animation: 1s 0.5s both rotate;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.vignette strong {
  /* ici ce bout de code sert a gere le prix */
  width: 30px;
  padding: 20px;
  padding-bottom: 0;
  padding-right: 10px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.vignette p {
  font-weight: initial;
  font-size: medium;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  text-align: left;
  font-size: large;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  /* sert a bien placer le background et lanimation juste a cote du prix*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.texte_img {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  padding-top: 5px;
}

.background_icone {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}

.icone_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  height: 50px;
  font-size: x-large;
  color: white;
  border-radius: 0 15px 15px 0;
}

.titre {
  text-transform: uppercase;
  font-size: medium;
  padding: 15px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.titre:after {
  /*sert a faire apparaitre le petit trait en dessous chaque titre*/
  content: "";
  width: 20px;
  height: 3px;
  background-color: #99E2D0;
  display: block;
  margin-top: 9px;
  margin-bottom: 0;
}

/*************************************************/
/* Creation de l'animation apparition  */
/************************************************/
.entree {
  -webkit-animation: 1.5s 1s 1 both apparition;
          animation: 1.5s 1s 1 both apparition;
}

.plats {
  -webkit-animation: 1.5s 2s 1 both apparition;
          animation: 1.5s 2s 1 both apparition;
}

.desserts {
  -webkit-animation: 1.5s 3s 1 both apparition;
          animation: 1.5s 3s 1 both apparition;
}

.btn_commander {
  border-radius: 40px;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  margin-left: 110px;
  margin-bottom: 20px;
  padding: 15px 30px;
  -webkit-box-shadow: 0 0 20px #c7b5b5;
          box-shadow: 0 0 20px #c7b5b5;
  font-size: large;
}

.btn_commander:hover {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9aed8), to(#ae83e2));
  background: linear-gradient(180deg, #e9aed8, #ae83e2);
  -webkit-transition: 2s;
  transition: 2s;
}

/*************************************************/
/*----Footer *****/
/************************************************/
footer {
  background-color: #3f3e3e;
  padding-left: 20px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  color: white;
}

h4 {
  font-family: 'Shrikhand';
  color: white;
  padding-bottom: 10px;
}

.main {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*************************************************/
/*----VERSION TABLETTE *****/
/************************************************/
@media all and (min-width: 500px) and (max-width: 1014px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0;
    padding-right: 15px;
  }
}

/*************************************************/
/*----VERSION ORDINATEUR *****/
/************************************************/
@media all and (min-width: 1024px) {
  /*******HEADER*****/
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(180deg, #FF79DA, #9356DC);
  }
  .logo {
    padding-left: 15px;
  }
  h1 {
    width: auto;
    margin-top: -70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    background: none;
  }
  h1 i {
    padding-right: 0;
  }
  /*******SECTION*****/
  body {
    /** Pour que les menu entree plat dessert sois tous aligne au meme niveau */
  }
  body section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titre:after {
    /*sert a faire apparaitre le petit trait en dessous chaque titre*/
    content: "";
    width: 50px;
    height: 5px;
    background-color: #99E2D0;
    display: block;
    margin-top: 9px;
    margin-bottom: 0;
  }
  .entree {
    /* Afin que les boutons ne bouge pas lorsque lanimation du boutton apparait */
    width: 33%;
  }
  .plats {
    width: 33%;
  }
  .desserts {
    width: 33%;
  }
  /*.btn_commander{
        margin-left: 500px;
        width: 200px;
        display: flex;
        margin: 24 auto;
        font-weight: 900;
        font-size:large;
     }*/
  .btn_commander {
    border-radius: 40px;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    -webkit-box-shadow: 0 0 20px #837f7f;
            box-shadow: 0 0 20px #837f7f;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .btn_commander:hover {
    -webkit-box-shadow: 0 0 20px black;
            box-shadow: 0 0 20px black;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9aed8), to(#ae83e2));
    background: linear-gradient(180deg, #e9aed8, #ae83e2);
    -webkit-transition: 2s;
    transition: 2s;
  }
  /*************************************************/
  /*----Footers *****/
  /************************************************/
  footer h4 {
    text-align: center;
    padding-top: 15px;
    font-size: x-large;
  }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=restaurant.css.map */