@import "reset.scss";
@import "mixin.scss";
@import "variables.scss";





body{
    font-family : 'Roboto', sans-serif ;
    margin: 0 auto;
    max-width: 1400px;
    

    a{
        text-decoration: none;
    }
   
}
p{
    font-family:'Roboto' ;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 35px;

}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

                    /********HEADER******/
header {
    text-align: center;
    align-items: center;
    justify-content: center;
    p{
        padding-top: 10px;
        font-weight: 100; 
    }
}
h1{
    font-size: x-large;
    font-weight: 700;
}
.background_header{
    background-color: $Color_grey  ;
    padding-bottom: 50px;
}

.logo{
        width: 150px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius:0 ;
}

                /* BARRE DE RECHERCHE*******/
form{ /*Cette parti de code sert pour le barre de recherche dans le HEADER*/
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 80%);
    padding: 10px;

    i{
        padding-right: 10px;
        padding-left: 55px;
    }

    input{
        border: transparent;
        background-color: transparent;
        color: black;
        font-family: 'Roboto';
    }
}

.btn_header{
   @include btn_header_et_commander;
    &:hover
    
    {
        box-shadow:5px 3px 5px grey;
        background-color:  rgba(1, 28, 55, 1)
    
    }
}

            /********Section*****/
            /*******FONCTIONNEMENT******/
section {  /* ce bout de code sera transformer en mixin */

    button{
    @include boutton;
    box-shadow: 3px 3px rgb(219, 218, 218);
    }
   
    i {
        padding-right: 15px;
    }
}

.display_btn{/* Ce bout de code sert a ce que le chiffre sois bien place dans le boutton*/
    @include flexcenter;
}
.chiffre_btn{
    border-radius: 100%;
    background-color: $Color_Primaire;
    color: $Color_white;
    width: 25px;
    height: 25px;
    margin-right: -15px;
    margin-left: 15px;
    margin-bottom: 15px;
    z-index: 1;
    font-size: small;
    @include flexcenter;
}

.titre{     /*** Sert a grossir la taille des titres au dessus des button */
    font-size: x-large;
    padding-bottom: 10px;
}

                /******** Restaurant********/
.background_gris{
    background-color: $Color_grey;
   
}
h2 {
    font-weight: 700;
    padding-left: 15px;
    padding-top: 15px;
}
.background_img{
    background-color: $Color_white;
    margin: 15px;
    border-radius: 20px;
    position: relative;

    p{
       
        font-weight: 200;
        padding: 0px 0px 20px 10px;
        margin: 0;
        color: black;
    }

    i{
        position: absolute;
        right: 0;
        top:0 ;
        padding-top: 220px;
    }

}
.new{
    background-color: $Color_Tertiaire;
    color: rgb(90, 77, 77);
    padding: 5px;
    font-weight: 700;
    font-size: small;
    position: absolute;
    top: 30px;
    right:20px;
}
h3{
    font-weight: 700;
    font-size: large;
}
.coeur_plein{
    opacity:0;
    color:$Color_Tertiaire;
    transition:1s;
   
  }
  
.coeur_vide {
    opacity:1;
   transition: 1s;
  }
  
  
  .favoris:hover .coeur_plein  {
    opacity:1
  }
  
  .favoris:hover .coeur_vide {
    opacity:0
  }

h3{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin:0px;
}
                        /**********FOOTERS*********/
footer{
   background-color: rgb(63, 62, 62); 
   padding-left: 20px;
   line-height: 1.5;
  

   a{
       text-decoration: none;
       color: $Color_white;
   }

   i{
       color: $Color_white;
       padding-right: 10px;
       font-size: small;
   }
   
}
h4{
    font-family: 'Shrikhand';
    color: $Color_white;
}
.main{
    transform: rotate(-45deg);
}

/**********************************************/
            /*Version Ordinateur */
/**********************************************/

@media all and (min-width:1024px ){
    
        
           nav{
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
            margin-bottom: 15px;
           } 
        
    
    .display_destkop{ /* Cette classe a ete cree afin daligner les bouttons et de gere leur espace dans la section*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .background_img{ /* ici on va gere la taille de chaque boutton dans la section*/
        margin: 30px;
        width: 30%;
    }
    h2 {
        text-align: center;
        padding-top: 15px;
        font-weight: 700;
        
    }
}

