html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1400px;
}

body a {
  text-decoration: none;
}

p {
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 20px;
  padding-top: 35px;
}

img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 0 0;
}

/********HEADER******/
header {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header p {
  margin-top: 10px;
  padding-top: 10px;
  font-weight: inherit;
}

header .p_header {
  color: black;
  font-size: x-large;
  font-family: 'Roboto';
  padding-left: 30px;
  margin-bottom: 0px;
}

.background_header {
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.logo {
  width: 150px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}

/* BARRE DE RECHERCHE*******/
form {
  /*Cette parti de code sert pour le barre de recherche dans le HEADER*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cccccc;
  padding: 10px;
}

form i {
  padding-right: 10px;
  padding-left: 55px;
}

form input {
  border: transparent;
  background-color: transparent;
  font-weight: bold;
  color: black;
}

.btn_header {
  background-color: #9356DC;
  border-radius: 40px;
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
}

/********Section*****/
/*******FONCTIONNEMENT******/
section {
  /* ce bout de code sera transformer en mixin */
}

section button {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 25px;
  font-weight: bold;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section i {
  padding-right: 15px;
}

.display_btn {
  /* Ce bout de code sert a ce que le chiffre sois bien place dans le boutton*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chiffre_btn {
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  margin-right: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
  z-index: 1;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titre {
  /*** Sert a grossir la taille des titres au dessus des button */
  font-size: x-large;
  padding-bottom: 10px;
}

/******** Restaurant********/
.background_gris {
  background-color: #e6e6e6;
}

.background_img {
  background-color: white;
  margin: 15px;
  border-radius: 20px;
  position: relative;
}

.background_img p {
  font-weight: normal;
  font-weight: inherit;
  padding: 0px 0px 20px 10px;
  margin: 0;
  color: black;
}

.background_img i {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 220px;
}

.fas {
  opacity: 0;
  color: purple;
  -webkit-transition: 1s;
  transition: 1s;
}

.far {
  opacity: 1;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.favoris:hover .fas {
  opacity: 1;
}

.favoris:hover .far {
  opacity: 0;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin: 0px;
}

/**********FOOTERS*********/
footer {
  background-color: #3f3e3e;
  padding-left: 20px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  color: white;
  padding-right: 10px;
  font-size: small;
}

h4 {
  font-family: 'Shrikhand';
  color: white;
}

.main {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/********** Les CARTE DES RESTAURANTS ********/
.background_header_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */