body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1400px;
}

h2 {
  font-family: 'Shrikhand';
  padding-left: 20px;
  padding-top: 35px;
}

img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 0 0;
}

/********HEADER******/
header {
  text-align: center;
}

header p {
  color: grey;
  margin-top: 0px;
  padding-top: 10px;
}

header .P_Header {
  color: black;
  font-size: x-large;
  font-family: 'Roboto';
  padding-left: 50px;
  margin-bottom: 0px;
}

.Background_Header {
  background-color: #e6e6e6;
}

.Logo {
  width: 150px;
  height: auto;
  padding-bottom: 5px;
  font-family: Shrikhand;
  color: white;
}

form {
  /*Cette parti de code sert pour le barre de recherche dans le HEADER*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form i {
  padding-right: 10px;
  padding-left: 55px;
}

form input {
  border: transparent;
  background-color: transparent;
  font-weight: bold;
  color: black;
}

.Btn_Header {
  background-color: #9356DC;
  border-radius: 40px;
  color: white;
  padding: 15px;
  margin-bottom: 30px;
  background: linear-gradient(70deg, #FF79DA, #9356DC);
}

/********Section*****/
/*******Bouton******/
.Btn {
  /* ce bout de code sera transformer en mixin */
  width: 90%;
  background-color: #e6e6e6;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 25px;
  font-weight: bold;
}

.Btn i {
  padding-right: 20px;
}

.Display_Btn {
  /* Ce bout de code sert a ce que le chiffre sois bien place dans le boutton*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Chiffre_Btn {
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  margin-right: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: small;
}

/******** Restaurant********/
.Background_Gris {
  background-color: #e6e6e6;
  margin-bottom: 80px;
}

.Background_Gris p {
  /* Jai place le P ici pour que je puisse mettre le i:hover en dessous de lautre i */
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.Background_Img {
  background-color: white;
  margin: 15px;
  border-radius: 20px;
}

.Background_Img i {
  margin-top: 10px;
  padding-right: 20px;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin: 0px;
}

/**********FOOTERS*********/
footer {
  background-color: #3f3e3e;
  padding-left: 20px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  color: white;
  padding-right: 10px;
  font-size: small;
}

h4 {
  font-family: 'Shrikhand';
  color: white;
  padding-top: 20px;
}

.Main {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */