html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes disparition {
  to {
    opacity: 0;
    z-index: -1;
  }
  from {
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes disparition {
  to {
    opacity: 0;
    z-index: -1;
  }
  from {
    opacity: 1;
    z-index: 1000;
  }
}

@-webkit-keyframes loading {
  to {
    width: 100%;
  }
  from {
    width: 0;
  }
}

@keyframes loading {
  to {
    width: 100%;
  }
  from {
    width: 0;
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
            transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(1turn) scale(0);
            transform: rotate(1turn) scale(0);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
            transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(1turn) scale(0);
            transform: rotate(1turn) scale(0);
  }
}

/******* Animation du check sur les bouttons */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/******* Animation de l'apparition des menu */
@-webkit-keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/******* LOADING*******/
.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: fixed;
  background: #000000c9;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: 1s 2.8s 1 both disparition;
          animation: 1s 2.8s 1 both disparition;
}

.progress {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9aed8), to(#ae83e2));
  background: linear-gradient(180deg, #e9aed8, #ae83e2);
  width: 200px;
  height: 20px;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 10px;
  -webkit-animation: loading 3s 1 both;
          animation: loading 3s 1 both;
}

.container_progress {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: x-large;
  color: white;
}

/********BODY******/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 20px;
  padding-top: 35px;
}

img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 0 0;
}

/********HEADER******/
header {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header p {
  padding-top: 10px;
  font-weight: 100;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  margin-top: 20px;
}

.background_header {
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.logo {
  width: 150px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}

/* BARRE DE RECHERCHE*******/
form {
  /*Cette parti de code sert pour le barre de recherche dans le HEADER*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cccccc;
  padding: 10px;
}

form i {
  padding-right: 10px;
  padding-left: 55px;
}

form input {
  border: transparent;
  background-color: transparent;
  color: black;
  font-family: 'Roboto';
}

.btn_header {
  border-radius: 40px;
  color: white;
  padding: 15px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 0 20px #837f7f;
          box-shadow: 0 0 20px #837f7f;
}

.btn_header:hover {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9aed8), to(#ae83e2));
  background: linear-gradient(180deg, #e9aed8, #ae83e2);
  -webkit-transition: 2s;
  transition: 2s;
}

/********Section*****/
/*******FONCTIONNEMENT******/
section {
  /* ce bout de code sera transformer en mixin */
}

section button {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 25px;
  font-weight: bold;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto';
  -webkit-box-shadow: 3px 3px #dbdada;
          box-shadow: 3px 3px #dbdada;
  color: black;
}

section i {
  padding-right: 15px;
}

.display_btn {
  /* Ce bout de code sert a ce que le chiffre sois bien place dans le boutton*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chiffre_btn {
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  margin-right: -15px;
  margin-left: 15px;
  margin-bottom: 15px;
  z-index: 1;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titre {
  /*** Sert a grossir la taille des titres au dessus des button */
  font-size: x-large;
  padding-bottom: 10px;
}

/******** Restaurant********/
.background_gris {
  background-color: #e6e6e6;
}

h2 {
  font-weight: 700;
  padding-left: 15px;
  padding-top: 15px;
}

.background_img {
  background-color: white;
  margin: 15px;
  border-radius: 20px;
  position: relative;
}

.background_img p {
  font-weight: 200;
  padding: 0px 0px 20px 10px;
  margin: 0;
  color: black;
}

.background_img i {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 220px;
}

.new {
  /* Pour le carre avec lembleme nouveau sur la photo du restaurant */
  background-color: #99E2D0;
  color: #5a4d4d;
  padding: 5px;
  font-weight: 700;
  font-size: small;
  position: absolute;
  top: 30px;
  right: 20px;
}

h3 {
  font-weight: 700;
  font-size: large;
}

/******** Pour gerer licone avec le coeur vide /coeur plein *****/
.coeur_plein {
  opacity: 0;
  color: #9356DC;
  -webkit-transition: 1s;
  transition: 1s;
}

.coeur_vide {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.favoris:hover .coeur_plein {
  opacity: 1;
}

.favoris:hover .coeur_vide {
  opacity: 0;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
  margin: 0px;
}

/**********FOOTERS*********/
footer {
  background-color: #3f3e3e;
  padding-left: 20px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  color: white;
  padding-right: 10px;
  font-size: small;
}

h4 {
  font-family: 'Shrikhand';
  color: white;
}

.main {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/**********************************************/
/*Version Ordinateur */
/**********************************************/
@media all and (min-width: 1024px) {
  /**********************************************/
  /*Header*/
  /**********************************************/
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /**********************************************/
  /* Parti Fontionnement */
  /**********************************************/
  .display_btn {
    width: 300px;
  }
  /**********************************************/
  /*Section restaurant */
  /**********************************************/
  h2 {
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
  }
  .display_destkop {
    /* Cette classe a ete cree afin daligner les bouttons et de gere leur espace dans la section*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .background_img {
    /* ici on va gere la taille de chaque boutton dans la section*/
    margin: 30px;
    width: 30%;
  }
  /**********************************************/
  /*Footers */
  /**********************************************/
  Footer {
    text-align: center;
  }
  Footer h4 {
    padding-top: 10px;
    font-size: x-large;
  }
  Footer nav {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

/**********************************************/
/*Version Tablette */
/**********************************************/
@media all and (min-width: 500px) and (max-width: 1014px) {
  /**********************************************/
  /*Parti Fonctionnement  */
  /**********************************************/
  .display_btn {
    width: 250px;
    margin-bottom: 20px;
  }
  section nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /**********************************************/
  /*Parti Restaurant  */
  /**********************************************/
  h2 {
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
  }
  .display_destkop {
    /* Cette classe a ete cree afin daligner les bouttons et de gere leur espace dans la section*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .background_img {
    /* ici on va gere la taille de chaque boutton dans la section*/
    margin: 30px;
    height: auto;
    width: 30%;
  }
  /**********************************************/
  /*Footer  */
  /**********************************************/
  Footer {
    text-align: center;
  }
  Footer h4 {
    padding-top: 10px;
    font-size: x-large;
  }
  Footer nav {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */