@import "reset.scss";
@import "mixin.scss";
@import "variables.scss";





body{
    font-family : 'Roboto', sans-serif ;
    margin: 0 auto;
    max-width: 1400px;
    

    a{
        text-decoration: none;
    }
   
}
p{
    font-family:'Roboto' ;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 35px;

}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

                    /********HEADER******/
header {
    text-align: center;
   align-items: center;
   justify-content: center;
    p{
        margin-top: 10px;
        padding-top: 10px;
        font-weight: inherit;
    }
    .p_header{
        color: black;
        font-size:x-large;
        font-family: 'Roboto';
        padding-left: 30px;
        margin-bottom: 0px;
    }
}
.background_header{
    background-color: $Color_grey  ;
    padding-bottom: 50px;
}

.logo{
        width: 150px;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius:0 ;
}

                /* BARRE DE RECHERCHE*******/
form{ /*Cette parti de code sert pour le barre de recherche dans le HEADER*/
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 80%);
    padding: 10px;

    i{
        padding-right: 10px;
        padding-left: 55px;
    }

    input{
        border: transparent;
        background-color: transparent;
        font-weight: bold;
        color: black;
    }
}

.btn_header{
    background-color: $Color_Primaire;
    border-radius: 40px;
    color: $Color_white;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    background: linear-gradient(180deg, $Color_Secondaire, $Color_Primaire); 
}

            /********Section*****/
            /*******FONCTIONNEMENT******/
section {  /* ce bout de code sera transformer en mixin */

    button{
    @include boutton;
    }
   
    i {
        padding-right: 15px;
    }
}

.display_btn{/* Ce bout de code sert a ce que le chiffre sois bien place dans le boutton*/
    @include flexcenter;
}
.chiffre_btn{
    border-radius: 100%;
    background-color: $Color_Primaire;
    color: $Color_white;
    width: 25px;
    height: 25px;
    margin-right: -15px;
    margin-left: 15px;
    margin-bottom: 15px;
    z-index: 1;
    font-size: small;
    @include flexcenter;
}

.titre{     /*** Sert a grossir la taille des titres au dessus des button */
    font-size: x-large;
    padding-bottom: 10px;
}

                /******** Restaurant********/
.background_gris{
    background-color: $Color_grey;
   
}
.background_img{
    background-color: $Color_white;
    margin: 15px;
    border-radius: 20px;
    position: relative;

    p{
        font-weight: normal;
        font-weight: inherit;
        padding: 0px 0px 20px 10px;
        margin: 0;
        color: black;
    }

    i{
        position: absolute;
        right: 0;
        top:0 ;
        padding-top: 220px;
    }

}
.fas {
    opacity:0;
    color:purple;
    transition:1s
  }
  
  .far {
    opacity:1;
    color:black;
    transition:1s
  }
  
  
  .favoris:hover .fas  {
    opacity:1
  }
  
  .favoris:hover .far {
    opacity:0
  }

h3{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin:0px;
}
                        /**********FOOTERS*********/
footer{
   background-color: rgb(63, 62, 62); 
   padding-left: 20px;
   line-height: 1.5;
  

   a{
       text-decoration: none;
       color: $Color_white;
   }

   i{
       color: $Color_white;
       padding-right: 10px;
       font-size: small;
   }
   
}
h4{
    font-family: 'Shrikhand';
    color: $Color_white;
}
.main{
    transform: rotate(-45deg);
}

